<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQL57Dialect
        </property>
        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost:3306/clownfish?serverTimezone=UTC
        </property>
        <property name = "hibernate.connection.username">
            clownfish
        </property>
        <property name = "hibernate.connection.password">
            clownfish
        </property>
        <property name = "hibernate.default_entity_mode">
            dynamic-map
        </property>
        <property name = "hibernate.hbm2ddl.auto">
            update
        </property>
        <property name = "hibernate.show_sql">
            false
        </property>
        
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.validate">1800</property>
        <property name="hibernate.c3p0.unreturnedConnectionTimeout">30</property>
        <property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property>
    </session-factory>
</hibernate-configuration>