.float {
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px 1px 2px rgb(46, 46, 46);
}

.float-edit-button {
    display: none;
    cursor: pointer;
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: grey;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px 1px 2px rgb(46, 46, 46);
}

.float-edit-button:hover {
    color: white !important;
    background-color: rgb(161, 161, 161);
}

.float-edit-button svg {
    margin-left: 2px;
    margin-top: 5px;
}

.my-float {
    height: 1.3rem !important;
    margin-top: 20px;
}

.bottom-right-button {
    position: absolute;
    right: -10px;
    top: -10px;
}

.show-float-button {
    display: block;
}

.cf_inplace {
    position: relative;
    border: 1px solid transparent;
}

.cf_inplace:hover {
    border: 1px solid red;
}